@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-image: url("../img/linedpaper.png");
}

body, h1, h2, h3, h4, h5, h6, p, div, a {
  font-family: 'Poppins', sans-serif !important;
}

.ui.contentSegment p {
  line-height: 150%;
  font-size: 16px;
}

.ui.stripe.segment .ui.grid {
  min-height: 100vh;
}

.ui.stripe.segment.contentSegment .ui.grid {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 480px) {
  .ui.stripe.segment.contentSegment .ui.grid {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .ui.stripe.segment.contentSegment .ui.grid .column {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
}

@media (max-width: 480px) {
  .ui.stripe.segment .ui.container {
    padding: 0px 25px;
  }
}

#mainSegment {
  border-bottom: 0px solid #0000;
}

@media (max-width: 480px) {
  #mainSegment .ui.text.container {
    padding: 0px 25px;
  }
}

@media (max-width: 480px) {
  #mainSegment .ui.grid .column:first-child {
    display: none;
  }
}

#mainSegment .ui.grid .column:last-child {
  padding-left: 50px;
}

#mainSegment .ui.grid .column:last-child img {
  display: none;
}

@media (max-width: 480px) {
  #mainSegment .ui.grid .column:last-child img {
    display: block;
    margin-bottom: 50px;
  }
}

#mainSegment img {
  border-radius: 100%;
  cursor: pointer;
  -webkit-box-shadow: #0004 10px 40px 70px;
          box-shadow: #0004 10px 40px 70px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#mainSegment img:hover {
  -webkit-transform: rotate(15deg) scale(0.95);
          transform: rotate(15deg) scale(0.95);
  -webkit-box-shadow: #0004 5px 35px 65px;
          box-shadow: #0004 5px 35px 65px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 480px) {
  #mainSegment img {
    -webkit-box-shadow: #0004 5px 20px 35px;
            box-shadow: #0004 5px 20px 35px;
  }
}

#mainSegment h1 {
  font-size: 32px;
  margin-bottom: 25px;
  margin-top: 0px;
}

#mainSegment p a {
  color: black;
  text-decoration: underline;
}

#mainSegment p + p {
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
}

#mainSegment a.socmedLink {
  color: black;
  opacity: 0.5;
}

#mainSegment a.socmedLink:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  #secondSegment .ui.grid .column:first-child {
    display: none;
  }
}

#secondSegment .ui.grid .column:first-child img {
  cursor: pointer;
}

#secondSegment .ui.grid .column:first-child img:first-child {
  position: relative;
  left: -50%;
  border-radius: 10px;
  -webkit-box-shadow: #0004 10px 40px 70px;
          box-shadow: #0004 10px 40px 70px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#secondSegment .ui.grid .column:first-child img:first-child:hover {
  left: -40%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#secondSegment .ui.grid .column:first-child img:last-child {
  position: absolute;
  left: 25%;
  top: 50%;
  border-radius: 10px;
  -webkit-box-shadow: #0003 20px 50px 70px;
          box-shadow: #0003 20px 50px 70px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#secondSegment .ui.grid .column:first-child img:last-child:hover {
  top: 40%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#secondSegment .ui.grid .column:last-child iframe {
  display: none;
}

@media (max-width: 480px) {
  #secondSegment .ui.grid .column:last-child iframe {
    display: block;
  }
}

#copyright {
  font-family: 'Poppins', sans-serif;
  opacity: 0.7;
  font-weight: 300;
  font-size: 9px;
  position: absolute;
  bottom: 2px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=custom.css.map */